// As per https://github.com/alphagov/whitehall/blob/master/app/assets/stylesheets/frontend/styleguide/_colours.scss

// Web safe department colours for exemplars
$cabinet-office-websafe: #347da4;
$department-for-business-innovation-skills-websafe: #347da4;
$department-for-environment-food-rural-affairs-websafe: #67650f;
$department-for-transport-websafe: #398373;
$department-for-work-pensions-websafe: #37807b;
$hm-revenue-customs-websafe: #008770;
$home-office-websafe: #9440b2;
$ministry-of-justice-websafe: #5A5C92;